body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.main-con{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f3f5f9;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.head-con{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.overview{
    padding-right: 15px;
}

.overview h3{
    font-weight: 600;
}

.overview-box-con{
    box-shadow: 0px 0px 50px -20px #cccccc;
}

.overview-box{
    width: 935px;
    height: 220px;
    background-color: white;
    border: 1px solid #d6dbe2;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: space-evenly;
}

.overview-box-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.total-exams{
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.total-exams-ellipse{
    width: 150px;
    height: 150px;
    background-color: #f3f5f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.total-exams-ellipse h1{
    color: #4d84fe;
    font-weight: bold;
    font-size: 80px;
}

.total-exams-text{
    padding-right: 50px;
    padding-top: 20px;
}

.total-exams-text h4{
    font-weight: 600;
    margin-top: 13px;
}


/*fully-marked*/
.fully-marked{
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fully-marked-ellipse{
    width: 150px;
    height: 150px;
    background-color: #f3f5f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.fully-marked-ellipse h1{
    color: #2ecc71;
    font-weight: bold;
    font-size: 80px;
}

.fully-marked-text{
    /*font-weight: 500;*/
    padding-right: 50px;
    padding-top: 20px;
}

.fully-marked-text h4{
    font-weight: 600;
    margin-top: 13px;
}

/*.overview-box-footer{*/
/*    width: 100%;*/
/*    height: 110px;*/
/*    background-color: #2ecc71;*/
/*    display: flex;*/
/*}*/

.scanned-con{
    /*width: 100%;*/
    height: 110px;
    border: 1px solid #d6dbe2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
    background-color: white;
    display: flex;
}

.scanned{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top: 4px solid #f3f5f9;*/
    border-right: 1px solid #d6dbe2;
}

.scanned-ellipse{
    width: 80px;
    height: 80px;
    background-color: #f3f5f9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scanned-ellipse h1{
    color: #2ecc71;
    font-weight: bold;
    font-size: 50px;
}

.scanned p{
    color: #1a213a;
    font-weight: 500;
    font-size: 15px;
    padding-left: 10px;
}

.not-scanned{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top: 4px solid #f3f5f9;*/
}

.not-scanned-ellipse{
    width: 80px;
    height: 80px;
    background-color: #f3f5f9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-scanned-ellipse h1{
    color: #e74c3c;
    font-weight: bold;
    font-size: 50px;
}

.not-scanned p{
    color: #1a213a;
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
}


.assessment-progress{
    padding-left: 15px;
}

.assessment-progress h3{
    font-weight: 600;
}

.assessment-progress-box{
    width: 295px;
    height: 330px;
    background-color: white;
    box-shadow: 0px 0px 50px -20px #cccccc;
    border: 1px solid #d6dbe2;
    border-radius: 6px;
}

.assessment-progress-box h1{

}

.assessment-detail{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
}

.assessment-detail-header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.assessment-detail-heading{
    width: 500px;
}

.assessment-detail-heading h3{
    font-weight: 600;
    padding-left: 10px;
}

.assessment-detail-buttons{
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    padding: 8px 22px;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
    border: 2px solid #dde3ea;
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: #858996;
}

.btn:hover {
    background-color: DodgerBlue;
    color: white;
    box-shadow: 0px 0px 50px -20px #cccccc;
}

.btn img{
    padding-right: 8px;
}

#btn1{
    border: 2px solid DodgerBlue;
    border-radius: 6px;
    padding: 8px 22px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: DodgerBlue;
    color: white;
    box-shadow: 0px 0px 50px -20px #cccccc;
}

#btn1 img{
    padding-right: 8px;
}

.assessment-detail-table-row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.assessment-detail-table{
    width: 1260px;
    height: 100%;
}

table {
    width: 100%;
    border-spacing: 0px 0.8rem;
}

td, th {
    border: 1px solid #dde3ea;
    text-align: left;
    padding: 25px;
}

th {
    background-color: #dde3ea;
    font-weight: 600;
    border-left: none;
    border-right: none;
}

td {
    background-color: white;
    font-weight: 400;
    border-left: none;
    border-right: none;
    color: #858996;
    box-shadow: 0px 0px 50px -20px #cccccc;
}

#first-td{
    border-left: 1px solid #dde3ea;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#last-td{
    border-right: 1px solid #dde3ea;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 120px;
}

@media (min-width: 992px) and (max-width: 1224px) {
    .overview-box {
        width: 550px;
        height: 190px;
    }
    .overview h3 {
        font-size: 17px;
    }
    .overview-box-header {
        padding-left: 50px;
    }

    .assessment-progress-box{
        width: 275px;
        height: 285px;
    }
    .assessment-progress h3 {
        font-size: 17px;
    }
    .total-exams-ellipse {
        width: 120px;
        height: 120px;
    }
    .total-exams-ellipse h1 {
        font-size: 70px;
    }
    .total-exams-img{
        height: 35px;
        width: 24px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 14px;
        font-size: 14px;
    }
    .fully-marked-ellipse {
        width: 120px;
        height: 120px;
    }
    .fully-marked-ellipse h1 {
        font-size: 70px;
    }
    .fully-marked-img{
        height: 35px;
        width: 24px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 14px;
        font-size: 13px;
    }
    .scanned-con{
        height: 95px;
    }
    .scanned-ellipse {
        width: 65px;
        height: 65px;
    }
    .scanned-ellipse h1 {
        font-size: 40px;
    }
    .scanned p {
        font-size: 13px;
    }
    .not-scanned-ellipse {
        width: 65px;
        height: 65px;
    }
    .not-scanned-ellipse h1 {
        font-size: 40px;
    }
    .not-scanned p {
        font-size: 13px;
    }
    .assessment-detail{
        margin-top: -45px;
    }
    .assessment-detail-heading {
        width: 290px;
    }
    .assessment-detail-heading h3 {
        padding-left: 5px;
    }
    .assessment-detail-buttons {
        width: 580px;
    }
    .btn {
        padding: 5px 8px;
        font-size: 12px;
        font-weight: 400;
    }
    #btn1 {
        padding: 5px 8px;
        font-size: 12px;
        font-weight: 400;
    }

    .assessment-detail-table {
        width: 860px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .overview-box {
        width: 500px;
        height: 165px;
    }
    .overview h3 {
        font-size: 16px;
    }
    .overview-box-header {
        padding-left: 50px;
    }

    .assessment-progress-box{
        width: 240px;
        height: 240px;
    }
    .assessment-progress h3 {
        font-size: 16px;
    }
    .total-exams-ellipse {
        width: 95px;
        height: 95px;
    }
    .total-exams-ellipse h1 {
        font-size: 60px;
    }
    .total-exams-img{
        height: 30px;
        width: 24px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 10px;
        font-size: 13px;
    }
    .fully-marked-ellipse {
        width: 95px;
        height: 95px;
    }
    .fully-marked-ellipse h1 {
        font-size: 60px;
    }
    .fully-marked-img{
        height: 30px;
        width: 24px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 14px;
        font-size: 13px;
    }
    .scanned-con{
        height: 75px;
    }
    .scanned-ellipse {
        width: 65px;
        height: 65px;
    }
    .scanned-ellipse h1 {
        font-size: 40px;
    }
    .scanned p {
        font-size: 13px;
    }
    .not-scanned-ellipse {
        width: 65px;
        height: 65px;
    }
    .not-scanned-ellipse h1 {
        font-size: 40px;
    }
    .not-scanned p {
        font-size: 13px;
    }
    .assessment-detail{
        margin-top: -100px;
        margin-bottom: -8px;
    }
    .assessment-detail-heading {
        width: 245px;
    }
    .assessment-detail-heading h3 {
        font-size: 16px;
    }
    .assessment-detail-buttons {
        width: 550px;
    }
    .btn {
        padding: 5px 8px;
        font-size: 11px;
        font-weight: 400;
    }
    #btn1 {
        padding: 5px 8px;
        font-size: 11px;
        font-weight: 400;
    }

    .assessment-detail-table {
        width: 780px;
    }
}

@media (min-width: 660px) and (max-width: 767px) {
    .overview-box {
        width: 415px;
        height: 130px;
    }
    .overview h3 {
        font-size: 14px;
    }
    .overview-box-header {
        padding-left: 50px;
    }

    .assessment-progress-box{
        width: 200px;
        height: 190px;
    }
    .assessment-progress h3 {
        font-size: 14px;
    }
    .total-exams-ellipse {
        width: 75px;
        height: 75px;
    }
    .total-exams-ellipse h1 {
        font-size: 45px;
    }
    .total-exams-img{
        height: 25px;
        width: 19px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 8px;
        font-size: 10px;
    }
    .fully-marked-ellipse {
        width: 75px;
        height: 75px;
    }
    .fully-marked-ellipse h1 {
        font-size: 45px;
    }
    .fully-marked-img{
        height: 25px;
        width: 19px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 8px;
        font-size: 10px;
    }
    .scanned-con{
        height: 65px;
    }
    .scanned-ellipse {
        width: 50px;
        height: 50px;
    }
    .scanned-ellipse h1 {
        font-size: 28px;
    }
    .scanned p {
        font-size: 12px;
    }
    .not-scanned-ellipse {
        width: 50px;
        height: 50px;
    }
    .not-scanned-ellipse h1 {
        font-size: 28px;
    }
    .not-scanned p {
        font-size: 12px;
    }
    .assessment-detail{
        margin-top: -165px;
        margin-bottom: -20px;
    }
    .assessment-detail-heading {
        width: 170px;
    }
    .assessment-detail-heading h3 {
        font-size: 14px;
        padding-left: 0px;
    }
    .assessment-detail-buttons {
        width: 490px;
    }
    .btn {
        padding: 3px 5px;
        font-size: 10px;
        font-weight: 400;
    }
    #btn1 {
        padding: 3px 5px;
        font-size: 10px;
        font-weight: 400;
    }

    .assessment-detail-table {
        width: 655px;
    }
    table {
        font-size: 13px;
    }
}

@media (min-width: 581px) and (max-width: 659px) {
    .overview-box {
        width: 365px;
        height: 102px;
    }
    .overview h3 {
        font-size: 10px;
    }
    .overview-box-header {
        padding-left: 50px;
    }

    .assessment-progress-box{
        width: 150px;
        height: 150px;
    }
    .assessment-progress h3 {
        font-size: 10px;
    }
    .total-exams-ellipse {
        width: 55px;
        height: 55px;
    }
    .total-exams-text {
        padding-top: 10px;
    }
    .total-exams-ellipse h1 {
        font-size: 32px;
    }
    .total-exams-img{
        height: 19px;
        width: 14px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 6px;
        font-size: 10px;
    }
    .fully-marked-ellipse {
        width: 55px;
        height: 55px;
    }
    .fully-marked-text {
        padding-top: 10px;
    }
    .fully-marked-ellipse h1 {
        font-size: 32px;
    }
    .fully-marked-img{
        height: 19px;
        width: 14px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 8px;
        font-size: 9px;
    }
    .scanned-con{
        height: 50px;
    }
    .scanned-ellipse {
        width: 35px;
        height: 35px;
    }
    .scanned-ellipse h1 {
        font-size: 20px;
    }
    .scanned p {
        font-size: 10px;
    }
    .not-scanned-ellipse {
        width: 35px;
        height: 35px;
    }
    .not-scanned-ellipse h1 {
        font-size: 20px;
    }
    .not-scanned p {
        font-size: 10px;
    }
    .assessment-detail{
        margin-top: -220px;
        margin-bottom: -20px;
    }
    .assessment-detail-heading {
        width: 135px;
    }
    .assessment-detail-heading h3 {
        font-size: 12px;
        padding-left: 0px;
    }
    .assessment-detail-buttons {
        width: 420px;
    }
    .btn {
        padding: 3px 8px;
        font-size: 8px;
        font-weight: 400;
    }
    #btn1 {
        padding: 3px 8px;
        font-size: 8px;
        font-weight: 400;
    }
    .btn img {
        padding-right: 8px;
        width: 17px;
        height: 17px;
    }
    #btn1 img {
        padding-right: 8px;
        width: 17px;
        height: 17px;
    }
    .assessment-detail-table {
        width: 560px;
    }
    table {
        font-size: 9px;
    }
    #last-td {
        width: 80px;
    }
    td img {
        width: 29px;
        height: 14px;
    }
}

@media (min-width: 481px) and (max-width: 580px) {
    .overview-box {
        width: 290px;
        height: 90px;
    }
    .overview h3 {
        font-size: 9px;
    }
    .overview-box-header {
        padding-left: 50px;
    }

    .assessment-progress-box{
        width: 135px;
        height: 130px;
    }
    .assessment-progress h3 {
        font-size: 9px;
    }
    .total-exams-ellipse {
        width: 50px;
        height: 50px;
    }
    .total-exams-text {
        padding-top: 10px;
    }
    .total-exams-ellipse h1 {
        font-size: 28px;
    }
    .total-exams-img{
        height: 19px;
        width: 14px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 6px;
        font-size: 9px;
    }
    .fully-marked-ellipse {
        width: 50px;
        height: 50px;
    }
    .fully-marked-text {
        padding-top: 10px;
    }
    .fully-marked-ellipse h1 {
        font-size: 28px;
    }
    .fully-marked-img{
        height: 19px;
        width: 14px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 8px;
        font-size: 9px;
    }
    .scanned-con{
        height: 40px;
    }
    .scanned-ellipse {
        width: 32px;
        height: 32px;
    }
    .scanned-ellipse h1 {
        font-size: 18px;
    }
    .scanned p {
        font-size: 9px;
    }
    .not-scanned-ellipse {
        width: 32px;
        height: 32px;
    }
    .not-scanned-ellipse h1 {
        font-size: 18px;
    }
    .not-scanned p {
        font-size: 9px;
    }
    .assessment-detail{
        margin-top: -250px;
        margin-bottom: -20px;
    }
    .assessment-detail-heading {
        width: 105px;
    }
    .assessment-detail-heading h3 {
        font-size: 10px;
        padding-left: 0px;
    }
    .assessment-detail-buttons {
        width: 360px;
    }
    .btn {
        padding: 4px 5px;
        font-size: 7px;
        font-weight: 400;
    }
    #btn1 {
        padding: 4px 5px;
        font-size: 7px;
        font-weight: 400;
    }
    .btn img {
        padding-right: 8px;
        width: 15px;
        height: 15px;
    }
    #btn1 img {
        padding-right: 8px;
        width: 15px;
        height: 15px;
    }
    .assessment-detail-table {
        width: 470px;
    }
    table {
        font-size: 7px;
    }
    #last-td {
        width: 60px;
    }
    td img {
        width: 25px;
        height: 11px;
    }
}

@media (min-width: 386px) and (max-width: 480px) {
    .main-con{
        min-height: 100vh;
    }
    .overview {
        padding-right: 8px;
    }
    .overview-box {
        width: 240px;
        height: 65px;;
    }
    .overview h3 {
        font-size: 8px;
    }
    .overview-box-header {
        padding-left: 50px;
    }
    .assessment-progress {
        padding-left: 8px;
    }
    .assessment-progress-box{
        width: 108px;
        height: 100px;
    }
    .assessment-progress h3 {
        font-size: 8px;
    }
    .total-exams-ellipse {
        width: 45px;
        height: 45px;
    }
    .total-exams-text {
        padding-top: 10px;
    }
    .total-exams-ellipse h1 {
        font-size: 20px;
    }
    .total-exams-img{
        height: 15px;
        width: 10px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 4px;
        font-size: 7px;
    }
    .fully-marked-ellipse {
        width: 45px;
        height: 45px;
    }
    .fully-marked-text {
        padding-top: 10px;
    }
    .fully-marked-ellipse h1 {
        font-size: 20px;
    }
    .fully-marked-img{
        height: 15px;
        width: 10px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 4px;
        font-size: 7px;
    }
    .scanned-con{
        height: 35px;
    }
    .scanned-ellipse {
        width: 29px;
        height: 29px;
    }
    .scanned-ellipse h1 {
        font-size: 16px;
    }
    .scanned p {
        font-size: 8px;
    }
    .not-scanned-ellipse {
        width: 29px;
        height: 29px;
    }
    .not-scanned-ellipse h1 {
        font-size: 16px;
    }
    .not-scanned p {
        font-size: 8px;
    }
    .assessment-detail{
        margin-top: -285px;
        margin-bottom: -25px;
    }
    .assessment-detail-heading {
        width: 70px;
    }
    .assessment-detail-heading h3 {
        font-size: 8px;
        padding-left: 0px;
    }
    .assessment-detail-buttons {
        width: 300px;
    }
    .btn {
        padding: 4px 1px;
        font-size: 7px;
        font-weight: 400;
    }
    #btn1 {
        padding: 4px 1px;
        font-size: 7px;
        font-weight: 400;
    }
    .btn img {
        padding-right: 8px;
        width: 12px;
        height: 12px;
    }
    #btn1 img {
        padding-right: 8px;
        width: 12px;
        height: 12px;
    }
    .assessment-detail-table {
        width: 370px;
    }
    table {
        font-size: 7px;
    }
    td, th {
        padding: 10px;
    }
    #last-td {
        width: 60px;
    }
    td img {
        width: 25px;
        height: 11px;
    }
}

@media (min-width: 300px) and (max-width: 385px) {
    .main-con{
        min-height: 100vh;
    }
    .overview {
        padding-right: 7px;
    }
    .overview-box {
        width: 220px;
        height: 60px;
    }
    .overview h3 {
        font-size: 8px;
    }
    .overview-box-header {
        padding-left: 50px;
    }
    .assessment-progress {
        padding-left: 7px;
    }
    .assessment-progress-box{
        width: 105px;
        height: 95px;
    }
    .assessment-progress h3 {
        font-size: 8px;
    }
    .total-exams{
        width: 150px;
    }
    .total-exams-ellipse {
        width: 45px;
        height: 45px;
        margin-right: 8px;
    }
    .total-exams-text {
        padding-top: 10px;
    }
    .total-exams-ellipse h1 {
        font-size: 20px;
    }
    .total-exams-img{
        height: 15px;
        width: 10px;
    }
    .total-exams-text h4 {
        font-weight: 600;
        margin-top: 4px;
        font-size: 7px;
    }
    .fully-marked{
        width: 150px;
    }
    .fully-marked-ellipse {
        width: 45px;
        height: 45px;
        margin-right: 8px;
    }
    .fully-marked-text {
        padding-top: 10px;
    }
    .fully-marked-ellipse h1 {
        font-size: 20px;
    }
    .fully-marked-img{
        height: 15px;
        width: 10px;
    }
    .fully-marked-text h4 {
        font-weight: 600;
        margin-top: 4px;
        font-size: 7px;
    }
    .scanned-con{
        height: 35px;
    }
    .scanned-ellipse {
        width: 29px;
        height: 29px;
    }
    .scanned-ellipse h1 {
        font-size: 16px;
    }
    .scanned p {
        font-size: 8px;
    }
    .not-scanned-ellipse {
        width: 29px;
        height: 29px;
    }
    .not-scanned-ellipse h1 {
        font-size: 16px;
    }
    .not-scanned p {
        font-size: 8px;
    }
    .assessment-detail{
        margin-top: -285px;
        margin-bottom: -25px;
    }
    .assessment-detail-heading {
        width: 55px;
    }
    .assessment-detail-heading h3 {
        font-size: 8px;
        padding-left: 0px;
    }
    .assessment-detail-buttons {
        width: 290px;
    }
    .btn {
        padding: 4px 3px;
        font-size: 6px;
        font-weight: 400;
    }
    #btn1 {
        padding: 4px 3px;
        font-size: 6px;
        font-weight: 400;
    }
    .btn img {
        padding-right: 5px;
        width: 12px;
        height: 12px;
    }
    #btn1 img {
        padding-right: 5px;
        width: 12px;
        height: 12px;
    }
    .assessment-detail-table {
        width: 345px;
    }
    table {
        font-size: 7px;
    }
    td, th {
        padding: 10px;
    }
    #last-td {
        width: 60px;
    }
    td img {
        width: 25px;
        height: 11px;
    }
}


